@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double&display=swap');

body,h1,h2,h3,h4,h5,h6 {
    font-family: sans-serif;
}

body{
    background-color: rgb(46, 46, 46);
}

.post-image{
    width:100%;
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    margin-top: 1em;
}

.message-box{
    background-color: rgb(29, 29, 153);
    width: 100%;
    padding: 1em;
    color: white;
}

.message-box h1{
    font-size: 2em;
    font-weight: 700;
}

.message-box h2{
    font-size: 1.2em;
    font-weight: 300;
}

.message-box p{
    font-size: 1.2em;
    font-weight: 300;
}

.message-box img{
    width: 50%;
    align-self: center;
}

.center-text-container{
    text-align: center;
}

.center-text-container h1{
    font-weight: 700;
    font-family: "Bitcount Grid Double", sans-serif;
}

body,h1,h2,h3,h4,h5,h6 {
    color: white;
}

.post-container{
    background-color: rgb(70, 70, 70);
    border-radius: 15px;
    padding: 2em;
    width: 70%;
}

.top-row{
    display: flex;
    gap: 15px;
}

.top-input-box{
    width: 20%;
    background-color: rgb(46, 46, 46);
    color: white;
    border-color: rgb(90, 90, 90);
    margin-bottom: 1.5em;
}

