@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body,h1,h2,h3,h4,h5,h6 {
    font-family: sans-serif;
}

body{
    background-color: rgb(46, 46, 46);
}

.post-image{
    width:100%;
    border-radius: 15px;
}

.home-column{
    display: grid;
    place-items: center;
    padding: 2.5em;
}

.message-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(70, 70, 70);
    width: 100%;
    padding: 2em;
    padding-top: 1em;
    color: white;
    border-radius: 20px;
    margin-top: 1em;
    margin-bottom: 1em;

}

.message-box h1{
    font-size: 2em;
    font-weight: 700;
}

.message-box h2{
    font-size: 1.2em;
    font-weight: 300;
}

.message-box p{
    font-size: 1.2em;
    font-weight: 300;
}

.center-text-container{
    text-align: left;
    padding-left: 2.5em;
}

.image-box{
    text-align: right;
    padding: 1em;
    padding-right: 2em;
}

.image-box img{
    width: 60%
}

.center-text-container h1{
    font-weight: 1000;
    font-family: "Playfair display", sans-serif;
    color: rgb(255, 123, 0);
    font-size: 3.5em;
    padding: None;
}

body,h1,h2,h3,h4,h5,h6 {
    color: white;
}

.post-container{
    background-color: rgb(70, 70, 70);
    border-radius: 20px;
    padding: 2em;
    width: 70%;
}

.top-row{
    display: inline;
    gap: 2em;
}

.top-input-box{
    width: 10%;
    height: 2.4em;
    padding: 0.6em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    border-radius: 20px;
    background-color: rgb(46, 46, 46);
    margin-bottom: 1.5em;
}

.input-box{
    border-radius: 20px;
    width: 100%;
    padding: 0.8em;
    margin-left: 0.7em;
    background-color: rgb(46, 46, 46);
}

.image-box h3{
    font-size: 1em;
}

.centered-content{
    margin-top: 12em;
    display: grid;
    place-items: center;
}

.centered-content{
    display: grid;
    place-items: center;
}

.top-input-box,
.input-box {
    color: white;
    border: 1px solid rgb(100, 100, 100);
}

.about-box{
    width: 50%;
    background-color: rgb(70, 70, 70);
    border-radius: 20px;
    padding: 2em;
    margin: 2em;
    margin-top: 12em;
}

.about-container{
    display: grid;
    place-items: center;
}

.info-box h2{
    font-size: 1em;
}
