{% extends "layout.html" %}

{% block body %}
    <div class="centered-content">
        <form method="post" class="post-container">
            <div class="top-box">
                <input type="text" id="title" name="title" class="top-input-box"
                    placeholder="Title" required>
                    
                <input type="text" id="user" name="user" class="top-input-box"
                    placeholder="Name" required>

                <input type="text" id="imageurl" name="imageurl" class="top-input-box"
                        placeholder="Image">
            </div>

            <textarea id="content" name="content" rows="5" class="input-box"
                    placeholder="Ask anything" required></textarea>

            <button type="submit" class="post-button">Post</button>
        </form>
    </div>
    <a href="/newpost" class="floaty-button">✈</a>
{% endblock %}
